@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="Form">

            <input type="hidden" id="id" value="${paperGroup.id}">
            <input type="hidden" id="imgValue" value="${paperGroup.img}">
            <input type="hidden" id="paperIds" value="${paperGroup.paperIds}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="catalogName" name="目录" value="${paperGroup.catalogName}" underline="true"
                            hidden="catalogId" hiddenValue="${paperGroup.catalogId}" readonly="readonly"
                            clickFun="PaperGroupInfoDlg.showMenuSelectTree(); return false;"
                            style="background-color: #ffffff !important;"
                            selectFlag="true" selectId="pcodeTreeDiv" selectTreeId="pcodeTree" selectStyle="width:244px !important;"/>
                    <#uploadImg id="img" name="图片" underline="true" width="100px" height="100px"/>
                </div>

                <div class="col-sm-6">
                    <#input id="name" name="名称" value="${paperGroup.name}" underline="true" />
                    <#input id="sort" name="排序" value="${paperGroup.sort}" underline="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="paperDiv">
                    <div class="row">
                        <div class="col-sm-7">
                            <#NameCon id="paperName" name="试卷名称" />
                        </div>
                        <div class="col-sm-3">
                            <#button name="搜索" icon="fa-search" clickFun="PaperGroupInfoDlg.searchPaper()"/>
                            <#button name="重置" icon="fa-trash" clickFun="PaperGroupInfoDlg.resetSearch()" space="true"/>
                        </div>
                        <#table id="PaperTable"/>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PaperGroupInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PaperGroupInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/paper/paperGroup/paperGroup_info.js"></script>
@}
