@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="Form">

            <input type="hidden" id="id" value="${question_translation.id}">
            <input type="hidden" id="questionId" value="${question_translation.questionId}">
            <input type="hidden" id="hasItemValue" value="${question_translation.hasItem}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="题目名称" underline="true" value="${question_translation.name}"/>
                    <!--<#input id="sort" name="排序" underline="true" value="${question_translation.sort}"/>-->
                </div>

                <div class="col-sm-6">

                    <!--<#input id="questionNum" name="题目数量" underline="true" value="${question_translation.questionNum}"/>-->
                    <#input id="remarks" name="备注" underline="true" value="${question_translation.remarks}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" >
                    <#BookwangEditor id="content" name="题干"  underline="true" content="${question_translation.content}" height="500px" leftWidth="1"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="analysisCcId" name="视频讲解ccid" value="${question_translation.analysisCcId}" underline="true" />
                </div>

                <div class="col-sm-6">


                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" >
                    <#BookwangEditor id="reference" name="参考范文" underline="true" content="${question_translation.reference}" height="500px" leftWidth="1"/>
                </div>
            </div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="Question_translationInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="Question_translationInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/questionbank/question_translation/question_translation_info.js"></script>
@}
