@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="activationCodeInfoForm">

            <form name="activationCodeForm" action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-2 b-r">&nbsp;</div>
                    <div class="col-sm-3" style="align-content: center">
                        <#SelectCon id="qSectionCode" name="学段">
                            <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                            <option value="1">四级</option>
                            <option value="2">六级</option>
                        </#SelectCon>
                    </div>
                    <div class="col-sm-6" style="align-content: center">
                        <input id="txtFile" name="txtFile" type="file" size="20" style="height: 30px; width: 300px;"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 b-r">&nbsp;</div>
                    <div class="col-sm-4 b-6">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ActivationCodeInfoDlg.importSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ActivationCodeInfoDlg.close()"/>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/gift/activationCode/activationCode_info.js"></script>
@}
