@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>激活码管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameConStyle id="qCode" name="激活码" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="qSectionCode" name="学段">
                                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                                    <option value="1">四级</option>
                                    <option value="2">六级</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#NameConStyle id="qPhone" name="用户帐号" />
                            </div>
                            <div class="col-sm-2">
                                <#NameConStyle id="qAddress" name="用户地址" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="qIsActivated" name="使用状态">
                                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                                    <option value="1">激活</option>
                                    <option value="0">未激活</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="qImportStartTime" name="导入开始" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="qImportEndTime" name="导入结束" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="qActivateStartTime" name="激活开始" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="qActivateEndTime" name="激活结束" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ActivationCode.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="ActivationCode.resetSearch()" space="true"/>
                            </div>
                        </div>


                        <div class="hidden-xs" id="ActivationCodeTableToolbar" role="group">
                            @if(shiro.hasPermission("/gift/activationCode/import")){
                                <#button name="激活码导入" icon="fa-upload" btnCss="warning" clickFun="ActivationCode.openImportActivationCode()" space="true"/>
                            @}
                        </div>
                        <#table id="ActivationCodeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modules/gift/activationCode/activationCode.js"></script>
@}
