@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="Form">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="type" value="1">
            <input type="hidden" id="paperId" value="${paperId}">
            <!--<input type="hidden" id="hasItem" value="0">-->

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="audioUrl" name="音频地址" underline="true" />
                    <#input id="subtitleUrl" name="字幕文件地址" underline="true" />
                </div>

                <div class="col-sm-6">
                    <#input id="qrCode" name="二维码" underline="true"  />
                    <#input id="sort" name="排序" underline="true" />
                </div>
            </div>

        </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CaptionListeningInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CaptionListeningInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/questionbank/CaptionListening/QrCaptionListening_info.js"></script>
@}
