@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="${commonQuestion.id}">
            <div class="row">
                <div class="col-sm-12 b-r">
                    <#input id="title" name="标题" leftWidth="2" rightWidth="10" value="${commonQuestion.title}" />
                    <#input id="sort" name="排序" type="number" leftWidth="2" rightWidth="10" value="${commonQuestion.sort}" />
                    <#wangEditor id="content" name="内容" height="300px" leftWidth="2" rightWidth="10" content="${commonQuestion.content}" />
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CommonQuestionInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CommonQuestionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/commonQuestion/commonQuestion_info.js"></script>
@}
