@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" id="Form">
            <div class="ibox-title">
                <h5>字幕听力视频管理</h5>
            </div>
            <input type="hidden" id="type" value="${type}">
            <input type="hidden" id="paperId" value="${paperId}">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="CaptionListeningVideo.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CaptionListeningVideoTableToolbar" role="group">

                                <#button name="添加" icon="fa-plus" clickFun="CaptionListeningVideo.openAddCaptionListeningVideo()"/>


                                <#button name="修改" icon="fa-pencil" clickFun="CaptionListeningVideo.openCaptionListeningVideoDetail()" space="true"/>

                                <#button name="删除" icon="fa-trash" clickFun="CaptionListeningVideo.delete()" space="true"/>
                        </div>
                        <#table id="CaptionListeningVideoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modules/questionbank/CaptionListeningVideo/CaptionListeningVideo.js"></script>
@}
