@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-10">

                </div>
            </div>
            <!--听力-->
            <form id="uploadForm" action="/simple/qrCaptionListening/upload" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-sm-6">
                    <#input type="file" id="file" name="file"></#input>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="QrCaptionListeningDllg.upload()"/>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/simple/qrCaptionListening/qrCaptionListening_upload.js"></script>
@}
