@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="couponCodeForm">

            <input type="hidden" id="id" value="${couponCode.id}">

            <#input id="code" name="优惠码"   underline="true" value="" value="${couponCode.code}" />

            <#input id="usedNum" name="已兑换次数"  readonly="true"  underline="true"  value="${couponCode.usedNum}" />

            <#input id="maxNum" name="最大可兑换次数"  underline="true" value="0" value="${couponCode.maxNum}" />


            <#TimeCon2 id="effectDate" name="生效时间" underline="true" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" value="${couponCode.effectDate}" />
            <#TimeCon2 id="invalidDate" name="失效时间" underline="true" isTime="true" pattern="YYYY-MM-DD hh:mm:ss" value="${couponCode.invalidDate}"/>

            <#select id="status" name="状态" underline="true">
                <option value="0"
                        @if(couponCode.status == 0){
                        selected = "selected"
                        @}
                >禁用</option>
                <option value="1"
                        @if(couponCode.status == 1){
                        selected = "selected"
                        @}
                >正常</option>
            </#select>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CouponCodeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CouponCodeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/couponCode/couponCode_info.js"></script>
@}
