@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>优惠码管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#input id="code" name="优惠码" />
                            </div>
                            <div class="col-sm-3">
                                <#select id="status" name="规则状态" underline="true">
                                    <option value="">全部</option>
                                    <option value="0">禁用</option>
                                    <option value="1">正常</option>
                                </#select>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="CouponCode.search()"/>
                            </div>
                        </div>
                        @if(!isSelect){
                        <div class="hidden-xs" id="CouponCodeTableToolbar" role="group">
                            @if(shiro.hasPermission("/couponCode/add")){
                                <#button name="批量添加" icon="fa-plus" clickFun="CouponCode.batchAddCouponCode()"/>
                                <!--
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <#button name="添加" icon="fa-plus" clickFun="CouponCode.openAddCouponCode()"/>
                                -->
                            @}
                            @if(shiro.hasPermission("/couponCode/update")){
                                <#button name="修改" icon="fa-pencil" clickFun="CouponCode.openCouponCodeDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/couponCode/delete")){
                                <#button name="删除" icon="fa-trash" clickFun="CouponCode.delete()" space="true"/>
                            @}
                        </div>
                        @}
                        @if(isSelect){
                        <div class="hidden-xs" id="selectCouponCodeTableToolbar" role="group">
                            <#button name="选择" icon="fa-plus" clickFun="CouponCode.selectItem()"/>
                        </div>
                        @}
                        <#table id="CouponCodeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modules/couponCode/couponCode.js"></script>
<script type="application/javascript">

    CouponCode.selectItem = function () {
        if (CouponCode.check()){
            var selectItem = $('#' + CouponCode.id).bootstrapTable('getSelections');
            try{
                window.parent.$("#contentId").val(CouponCode.seItem.id);
                window.parent.$("#contentName").val(CouponCode.seItem.code);
                parent.layer.close(window.parent.CouponGainSceneInfoDlg.selectLayerIndex);
            }catch (error){
                //
            }

        }
    };
    CouponCode.changeStatus = function (id,status) {
        //提交信息
        var ajax = new $ax(Feng.ctxPath + "/couponCode/update", function (data) {
            Feng.success("修改成功!");
            CouponCode.table.refresh();
        }, function (data) {
            Feng.error("修改失败!" + data.responseJSON.message + "!");
        },'json');
        var obj = {};
        obj.id = id;
        obj.status = status;
        ajax.setData(obj);
        ajax.start();
    };
    /**
     * 初始化表格的列
     */
    CouponCode.initColumn = function () {
        return [
            {field: 'selectItem', radio: true},
            {title: 'id', field: 'id', visible: false, align: 'center', valign: 'middle'},
            {title: '优惠码', field: 'code', align: 'center', valign: 'middle'},
            {title: '已兑换次数', field: 'usedNum', align: 'center', valign: 'middle'},
            {title: '最大可兑换次数', field: 'maxNum', align: 'center', valign: 'middle'},
            {title: '生效时间', field: 'effectDate', align: 'center', valign: 'middle'},
            {title: '失效时间', field: 'invalidDate', align: 'center', valign: 'middle'},
            {title: '状态', field: 'status', align: 'center', valign: 'middle',formatter : function (e,column,index) {
                if(column.status == 1){
                    return '<span class="label label-primary">正常</span>';
                }else if(column.status == 0){
                    return '<span class="label label-default">禁用</span>';
                }else {
                    return '<span class="label label-warning">其他</span>';
                }
            }},
            {title: '操作', field: '',  width: 150, align: 'center', valign: 'middle',formatter : function (e,column,index) {
                var htmlElement = '';
                @if(shiro.hasPermission("/community/activity/update")){
                    if(column.status == 1){
                        htmlElement += ' <a href="javascript:void(0)" onclick="CouponCode.changeStatus(\''+column.id+'\',0)">点击禁用</a>&nbsp;&nbsp;';
                    }else if(column.status == 0){
                        htmlElement += '<a href="javascript:void(0)" onclick="CouponCode.changeStatus(\''+column.id+'\',1)">点击启用</a>&nbsp;&nbsp;';
                    }
                @}
                return htmlElement;
            }}
        ];
    };

</script>
@}
